#map {
  height: 400px; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
}
html {
  height: 100vh;
}
body {
  background-image: url("./images/MTA_NYC_Subway_R30_8506_interior.JPG");
  background-color: #363f3e;
  background-size: cover;
  color: #8ba7a3;
  font-family: "helvetica", sans-serif;
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 3rem;
}
.header-container {
  background-color: #363f3e;
  display: grid;
  position: fixed;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 15vh;
  border-bottom: #9b0505 2px solid;
}
p{
  font-size: 1.5rem;
}
.main-title {
  text-align: center;
  grid-column-start: 2;
  border-bottom: none;
  font-family: "Permanent Marker", cursive;
}
.main-title a {
  color: #8ba7a3;
  text-decoration-color: #9b0505;
}
iframe {
  align-self: center;
  margin: 0 auto;
}
.main-title:hover {
  text-align: center;
  grid-column-start: 2;
  color:
}
.footer {
  position: fixed;
  bottom: 0vh;
  width: 100vw;
  height: 7vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #637573;
  z-index: 2;
  border-top: #9b0505 2px solid;

}
.footer-text {
  width: 60vw;
  display: flex;
  justify-content: space-around;
}
.footer a {
  text-decoration: none;
  text-align: center;
  color: #8ba7a3;
  margin: 10px;
  font-weight: bolder;
  font-size: 1.5rem;
}
.footer a:hover {
  text-decoration: none;
  text-align: center;
  color: #9b0505;
  margin: 10px;
  font-weight: bolder;
  font-size: 1.5rem;
}
.user-form-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: grey;
  height: 60vh;
  width: 80%;
  border-radius: 20px;
  border: 3px darkgrey solid;
  margin: auto;
  padding: 20vh;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
button {
  cursor: pointer;
  background-color: #637573;
  border: none;
  color: #8ba7a3;
  font-size: 100%;
  height: auto;
  padding: 20px 32px;
  margin: 1vh 1vh;
  text-align: center;
  border-radius: 15px;
  text-decoration: none;
  display: inline-block;
  width: auto;
  justify-content: center;
}
button:hover {
  border: 1px solid #9b0505;
  transform: scale(0.95);
  transition: transform 0.2s;
}
.search-page-container {
  position: fixed;
  grid-column: 1;
  margin-top: 5vh;
}
.search-box {
  margin: 0;
  margin-left: 10vw;
  width: 30vw;
  height: 5vh;
  font-size: 100%;
  text-align: center;
  color: #637573;
  border: #9b0505 1px solid;
  border-bottom: none;
  background: #b7dbd7;
  overflow-y: visible;
}
.search-box:focus {
  outline: none;
}
.options-container {
  overflow-y: visible;
  margin: 0;
  margin-left: 10vw;
  width: 30vw;
  padding: 0;
  font-size: 100%;
  background: #b7dbd7;
}
ul.options {
  margin: 0;
  padding: 0;
  border: #9b0505 1px solid;
  border-top: none;
  list-style-type: none;
}
li {
  margin: 0 0 1vh 0;
}
li:hover {
  background-color: red;
}
.user-profile {
  padding-top: 15vh;
  display: flex;
  justify-content: center;
}
.user-container {
  display: flex;
  width: 60vw;
  justify-content: center;
  flex-direction: column;
  background: #b7dbd7;
  padding: 5vh 15vh 0 15vh;
  padding-bottom: 0;
  margin-top: 1vh;
  margin-bottom: 10vh;
  border-radius: 3%;
}
.avatar-username {
  display: flex;
}
.avatar-1 {
  width: 11vw;
  height: 10vw;
  background: url(./rats/beanierat.png) center;
  background-repeat: no-repeat;
}
.avatar-2 {
  width: 11vw;
  height: 10vw;
  background: url(./rats/floppyhat-rat.png) center;
  background-repeat: no-repeat;
}
.avatar-3 {
  width: 11vw;
  height: 10vw;
  background: url(./rats/glasses-rat.png) center;
  background-repeat: no-repeat;
}
.avatar-4 {
  width: 11vw;
  height: 10vw;
  background: url(./rats/gym-rat.png) center;
  background-repeat: no-repeat;
}
.avatar-5 {
  width: 11vw;
  height: 10vw;
  background: url(./rats/rat.png) center;
  background-repeat: no-repeat;
}
.avatar-6 {
  width: 11vw;
  height: 10vw;
  background: url(./rats/sunglasses-rat.png) center;
  background-repeat: no-repeat;
}
.avatar {
  width: 11vw;
  height: 10vw;
  background: url(./rats/beanierat.png) center;
  background-repeat: no-repeat;
}
.station-button {
  width: 16vh;
  height: auto;
  padding: .5vh;
  margin: 1vh 0 1vh 2vh;
  font-size: 100%;
}
.home-container {
  overflow: visible;
}
.station-container {
  color: #637573;
  background-color: #b7dbd7;
  display: flex;
  padding: 0 20%;
  align-items: center;
  justify-content: space-around;
  border-top: #9b0505 2px solid;
}
.station-information {
  margin-right: 1vw;
}
.stationList-container {
  padding-bottom: 15vh;
  width: 100%;
  background-color: #b7dbd7;
  border-bottom: #9b0505 2px solid;
}
.closeStations {
  padding-top: 20vh;
  margin-bottom: 0;
  background-color: #b7dbd7;
}
.station-list {
  position: relative;
  height: 100vh;
}
.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.map-container {
  width: 100%;
  height: 70vh;
}
.contact-form {
  width: 50%;
  justify-content: center;
  margin: 6px auto;
}
.contact-header {
  text-align: center;
  font-size: 30px;
}
.contact-container {
  display: block;
  margin-left: 200px;
  position: fixed;
  width: 50vw;
  bottom: 40vh;
  margin: auto 25vw;
  justify-content: center;
  border-radius: 20px;
  border: 3px black solid;
  background-color: black;
}
.comment-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  margin: 6px auto;
  border-radius: 20px;
  border: 3px black solid;
  background-color: black;
}
.stock-list {
  padding-top: 1vh;
}
.comment-container {
  color: #637573;
  background-color: #b7dbd7;
  border: #363f3e 2px solid;
  margin: 10px;
  padding: 10px;
}
form.comment-form {
  position: fixed;
  margin: 25vh 25vw;
}

.logout {
  margin: 30vh;
}
@media only screen and (max-width: 560px) {
  .header-container {
    display: flex;
  }
.main-title, .search-page-container {
    float: right;
}
.search-page-container {
    top: 40px;
    width: 225px;
}
.main-title {
    bottom: 25px;
}
  .footer {
    position: fixed;
    bottom: 0vh;
    width: 100vw;
    height: 7vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #637573;
    z-index: 2;
  }
  .footer a {
    text-decoration: none;
    text-align: center;
    color: #8ba7a3;
    margin: 10px;
    font-weight: bolder;
    font-size: 16px;
  }
  .contact-container {
    position: fixed;
    width: 60%;
    bottom: 30vh;
    margin: auto 25vw;
    justify-content: center;
    border-radius: 20px;
    border: 3px black solid;
    background-color: black;
  }
}
