#map {
  height: 400px; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
}
body {
  background-color: #64b0c4;
}
nav {
  display: flex;
  justify-content: center;
  background-color: rgba(245, 180, 185, 0.4);
  width: 100%;
}
nav a {
  text-decoration: none;
  color: white;
  margin: 10px;
  font: 18px;
}
.header-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 20vh;
  border-bottom: white 2px solid;
}
.main-title {
  text-align: center;
}
.footer {
  position: fixed;
  bottom: 0vh;
  width: 100vw;
  height: 7vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(245, 180, 185);
  z-index: 2
}
.footer-text {
  width: 60vw;
  display: flex;
  justify-content: space-around;
}
.footer a {
  text-decoration: none;
  text-align: center;
  color: white;
  margin: 10px;
  font-weight: bolder;
  font-size: 1.5rem;
}
.user-form-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: grey;
  height: 60vh;
  width: 80%;
  border-radius: 20px;
  border: 3px darkgrey solid;
  margin: 20px auto;
  padding: 20px;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
button {
  cursor: pointer;
  background-color: rgba(85, 72, 46, 0.6);
  border: none;
  color: white;
  height: auto;
  padding: 20px 32px;
  margin: 8px auto;
  text-align: center;
  border-radius: 15px;
  text-decoration: none;
  display: inline-block;
  width: 30%;
  justify-content: center;
}
.user-profile {
  display: flex;
  justify-content: center;
}
.user-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: white;
  padding: 2vh;
  margin-top: 1vh;
  border-radius: 3%;
}
.avatar-username {
  display: flex;
}
.avatar {
  width: 11vw;
  height: 10vw;
  background: url(./rats/beanierat.png) center;
  background-repeat: no-repeat;
}
.station-button {
  width: 16vh;
  height: 8vh;
  padding: 0;
  margin: 2vh 0 0 0;
  font-size: 1.2rem;
}
.station-list {
  height: 100vh;
  z-index: 100;
}
.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.home-container{

}
.map-container{
  width: 100%;
  height: 50vh;
}
.contact-form {
  width: 50%;
  justify-content: center;
  margin: 6px auto;
}
.comment-form {
  width: 50%;
  justify-content: center;
  margin: 6px auto;
  border-radius: 20px;
  border: 3px black solid;
}
.contact-header {
  text-align: center;
  font-size: 30px;
}
.contact-container {
  width: 50%;
  justify-content: center;
  margin: 6px auto;
  border-radius: 20px;
  border: 3px black solid;
}
